In [3]:
import pandas as pd

df = pd.read_csv(r'/content/Convert-to-Date-Format.xlsx - Sheet1.csv')
df

     Jan 2, 2017  02-01-2017
0   Jan 02, 2017  02-01-2017
1     Jan 2 2017  02-01-2017
2    Jan 02 2017  02-01-2017
3      Jan 2, 17  02-01-2017
4     Jan 02, 17  02-01-2017
5       Jan 2 17  02-01-2017
6      Jan 02 17  02-01-2017
7      02-Jan-17  02-01-2017
8      02-Jan-17  02-01-2017
9      02-Jan-17  02-01-2017
10     02-Jan-17  02-01-2017
11     2, Jan 17  02-01-2017
12   2, Jan 2017  02-01-2017
13    02, Jan 17  02-01-2017
14  02, Jan 2017  02-01-2017